@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
  .dropdown-menu {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .card-images {
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .clerical {
    font-size: 40px !important;
    margin: 2rem 0 0 2.5rem;
  }

  .hurry-up {
    font-size: 20px;
    margin: 3rem 0 0 2.5rem;
  }

  .read-more {
    margin: 3rem 0 0 2.5rem;
  }

  .add-btn {
    margin-left: 0rem;
  }

  .catalog .card {
    width: 7rem;
  }

  .deals-of-the-week1 {
    margin-right: 15rem !important;
  }

  .deals-of-the-week1 img {
    width: 200px;
    height: 220px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 265px;
    height: 49px;
  }

  .clerical {
    font-size: 56px !important;
    margin: 2.5rem 0 0 3.5rem;
  }

  .hurry-up {
    font-size: 20px;
    margin: 4.5rem 0 0 3.5rem;
  }

  .read-more {
    margin: 3.5rem 0 0 3.5rem;
  }
  .add-btn {
    margin-left: 2.56rem;
  }

  .catalog .card {
    width: 10rem;
  }

  .deals-of-the-week1 {
    margin-right: 23rem !important;
  }

  .deals-of-the-week1 img {
    width: 220px;
    height: 240px;
  }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form-control {
    width: 350px;
  }

  .submit-btn {
    margin-right: 4rem !important;
  }

  .nav-item {
    margin: 0.32em;
  }

  .clerical {
    font-size: 58px;
    margin: 3rem 0 0 2.5rem;
  }

  .hurry-up {
    font-size: 20px;
    margin: 4rem 0 0 2.5rem;
  }

  .read-more {
    margin: 3rem 0 0 2.5rem;
  }
  .add-btn {
    margin-left: 5.2rem;
  }

  .catalog .card {
    width: 13rem;
  }

  .deals-of-the-week1 img {
    width: 246px;
    height: 278px;
  }

  .deals-of-the-week1 {
    margin-right: 25rem !important;
  }
}

@media (max-width: 1200px) {
  .category-list {
    display: none !important;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .form-control {
    width: 450px;
  }

  .submit-btn {
    margin-right: 10rem !important;
  }

  .clerical {
    font-size: 64px;
    margin: 4rem 0 0 2.5rem;
  }

  .hurry-up {
    font-size: 20px;
    margin: 4rem 0 0 2.5rem;
  }

  .read-more {
    margin: 3rem 0 0 2.5rem;
  }
  .deals-of-the-week1 {
    margin-right: 35rem !important;
  }
}

@media (min-width: 1600px) {
  .submit-btn {
    margin-right: 18rem !important;
  }
}

@media (min-width: 1700px) {
  .submit-btn {
    margin-right: 26rem !important;
  }
}

@media (min-width: 1800px) {
  .submit-btn {
    margin-right: 35rem !important;
  }
}

@media (min-width: 1900px) {
  .submit-btn {
    margin-right: 38rem !important;
  }
}
