@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /* Montserrat   */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /* Inter */
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
/*

font-family: 'Montserrat', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Libre Bodoni', serif;

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: #f0d028;
  --red-color: #f02828;
  --blue-color: #0071dc;
  --black-color: #000000;
  --white-color: #f6f6f6;
}

h1 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 15px;
  color: #000000;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px !important;
  color: #9f9f9f !important;
}

h6 {
  font-size: 14px;
  font-family: "Montserrat";
}

body {
  background-color: var(--white-color);
}

.row {
  max-width: 1496px;
}

.blur {
  transition: all 500ms ease-out;
  filter: blur(8px);
  z-index: 0;
}

/* ---------------------------------------------------Navbar Style--------------------------------------------------- */

.logo {
  width: 200px;
  height: 49px;
}

.navbar {
  background-color: var(--yellow-color) !important;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.nav-item .nav-login {
  background: transparent;
  outline: none;
  border: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.submit-btn {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--black-color);
  color: white;
  width: 61px;
  height: 38px;
  border-radius: 0 0 0 0;
  margin-right: 1rem !important;
}

.submit-btn:hover {
  background-color: var(--black-color);
  color: white;
}

.form-control {
  width: 250px;
  height: 39px;
  border-radius: 0 0 0 0;
  outline: 1px solid black !important;
}

.form-control::placeholder {
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none !important;
}

.dropdown-toggle {
  width: 124px;
  height: 32px;
  background-color: white;
  text-align: center;
}

.white-circle {
  margin-top: -13px;
  margin-left: -10px;
}
/* ---------------------------------------------------Navbar Style Ends--------------------------------------------------- */

/* ---------------------------------------------------Category Style --------------------------------------------------- */

.category-btn {
  font-size: 11px;
  background-color: var(--black-color);
  color: white;
  padding: 0.87em 1em;
  border-radius: 0.7em;
  transition: all 0.2s ease-in;
}

.category-btn:hover {
  transform: scale(1.03);
}

.customer-service {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 5em;
  top: 3em;
}

.category-list li {
  list-style-type: none;
  margin-top: 1.2em;
  font-size: 12px;
  font-weight: 600;
}

.category-list li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
}

.category-list li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--yellow-color);
  transition: width 500ms ease-out;
}

.category-list li a:hover::before {
  width: 100%;
  left: 0;
}

.contact {
  position: relative;
}

.contact img {
  margin-right: 1em;
  margin-top: 0.5em;
}

/* ---------------------------------------------------Category Style Ends--------------------------------------------------- */

/* ---------------------------------------------------Carousel Style--------------------------------------------------- */

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  margin: 0 0.5em !important;
  background-color: var(--yellow-color) !important;
  opacity: 1;
  z-index: 1;
}

.carousel-caption {
  text-align: left;
  position: absolute !important;
  top: 4rem;
  left: 6rem !important;
}

.hero-sec {
  max-width: 1496px;
  height: 494px !important;
}
.hero-sec img {
  max-width: 1496px;
  height: 494px !important;
  border-radius: 22px;
}

.clerical {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 32px !important;
  line-height: 80px;
  color: var(--black-color);
}

.hurry-up {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
  margin-top: 5rem;
  margin-bottom: 3rem !important;
}

.carousel-control-prev-icon {
  margin-left: -150px;
}
.carousel-control-next-icon {
  margin-left: 150px;
}

.read-more {
  width: 132px;
  height: 41px;
  background: #f0d028;
  border-radius: 8px;
  border: none !important;
  transition: all 300ms ease-in-out;
}

.read-more:hover {
  transform: scale(0.95);
}
/* ---------------------------------------------------Carousel Style Ends--------------------------------------------------- */

/* ---------------------------------------------------Menu --------------------------------------------------- */
.menu {
  max-width: 1496px;
}
.menu img {
  width: 120px;
}

.card-images .one,
.three {
  margin-right: 28px;
}
.four {
  margin-right: 30px;
}
.five {
  margin-right: 28px;
}
.six,
.nine {
  margin-right: 28px;
}
.ten {
  margin-right: 28px !important;
}

.card-images .seven,
.eight {
  margin-right: 30px;
}

.card-images .two {
  margin-right: 30px;
}

.arrow-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.8) !important;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.fa-greater-than {
  font-size: 10px !important;
}

/* ---------------------------------------------------Menu Ends--------------------------------------------------- */

/* ---------------------------------------------------Office and School--------------------------------------------------- */

.school {
  background: url(../Images/school.png);
  background-size: cover;
  max-width: 780px;
  height: 335px;
}

.office {
  max-width: 780px;
  background: url(../Images/office.png);
  background-size: cover;
  height: 335px;
}

.office-btn {
  width: 123.28px;
  height: 42px;
  background: #f0d028;
  border: none;
  color: white;
  margin: 4rem 0rem 0 3rem;
  font-family: "Montserrat", sans-serif;
  transition: all 250ms ease-in;
}

.office-btn:hover {
  transform: scale(0.96);
}

.shop-now-btn {
  color: white;
  padding: 4px 12px;
  background: #4f8bdb;
  border-radius: 2px;
  border: none;
  margin: 10rem 0rem 0 3rem;
  font-family: "Montserrat", sans-serif;
  transition: all 300ms ease-in;
}

.shop-now-btn:hover {
  transform: scale(0.96);
}

/* ------------------------------------------------Office and School Ends------------------------------------------------ */

/* ---------------------------------------------------Catalog Style--------------------------------------------------- */
.card-title {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.card-text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  color: black;
}

.add-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 90px;
  height: 32px;
  background: #f0d028;
  border-radius: 6px;
  border: none !important;
  margin-left: 2.5rem;
}

.catalog .card {
  width: 10rem;
}

.catalog .col-md-2 {
  margin-right: 62px !important;
}

.catalog .col-md-2:last-child {
  margin-right: 0rem !important;
}

/* ---------------------------------------------------Catalog Style Ends--------------------------------------------------- */

/* ---------------------------------------------------Deals of the week --------------------------------------------------- */
.deals-pic {
  margin-left: 19rem;
}
/* --------------------------------------------------Deals of the week Ends--------------------------------------------------- */

/* ---------------------------------------------------Image Overlay--------------------------------------------------- */
.img-overlay {
  width: 1496px;
  background: linear-gradient(
      rgba(217, 217, 217, 0.79),
      rgba(217, 217, 217, 0.79)
    ),
    url(../Images/homepage-banner.png) no-repeat;
  border-radius: 13px;
  font-family: "Montserrat";
}

.img-overlay input {
  background-color: transparent;
  width: 399px;
  height: 47px;
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.img-overlay input:focus {
  background-color: transparent;
}
.img-overlay button {
  color: white;
  background: #ff0000;
  border: 1px solid rgba(0, 0, 0, 0.29);
  width: 130px;
  height: 47px;
  transition: all 300ms ease;
}

.img-overlay button:hover {
  transform: scale(0.95);
}

.subscribe-for-the-news {
  font-size: 24px;
  margin-top: 1rem;
}

/* ---------------------------------------------------Image Overlay Ends--------------------------------------------------- */

/* ---------------------------------------------------Footer --------------------------------------------------- */
.list-group {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.list-group-item {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.play-store {
  height: 33px;
  width: 100px;
  border-radius: 0px;
}
.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
/* ---------------------------------------------------Footer Ends--------------------------------------------------- */

/* ---------------------------------------------------Login Style------------------------------------------------- */

.close-btn {
  cursor: pointer;
  width: 35px;
}

.login-form {
  max-width: 1000px;
  height: 450px;
  background-color: white;
  box-shadow: inset 0px 16.6667px 16.6667px #ffdd2c;
  border-radius: 41.6667px;
  padding: 0 2em;
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0) !important;
  visibility: hidden;
  width: 100%;
  z-index: 2;
  transition: all 800ms ease;
  visibility: hidden;
  z-index: 2;
}

.open-login-form-popup {
  transform: translate(-50%, -50%) scale(1) !important;
  visibility: visible;
  opacity: 1;
  z-index: 999999999;
}

.login {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
  color: #404040;
}

.register-here {
  color: #ff0000;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.login-email,
.login-password {
  max-width: 440px;
  border-bottom: 1.66667px solid #f0d028;
  margin: 1.5rem auto;
}

.login-email input,
.login-password input {
  border: none;
  padding: 0.8em;
}

.login-email input:focus,
.login-password input:focus {
  border: none;
  outline: none;
}

.login-email input::placeholder,
.login-password input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #bbbbbb;
}

.login-email img,
.login-password img {
  width: 25px;
}

.form-submit button {
  background: #f0d028;
  border-radius: 83.3333px;
  width: 233.33px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  outline: none;
  border: none;
  transition: all 300ms ease;
}

.form-submit input:hover {
  transform: scale(0.95);
}

/* --------------------------------------------------Login Style Ends-------------------------------------------------- */

/* --------------------------------------------------Register  Style -------------------------------------------------- */
.reistration-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  height: 830px;
  background: #ffffff;
  padding: 0 1em 0 1em;
  box-shadow: inset 0px 16.6667px 16.6667px #ffdd2c;
  border-radius: 41.6667px;
  transition: all 800ms ease;
}

.open-registration-form {
  transform: translate(-50%, -50%) scale(1);
}

.google-divs {
  background-color: #d9d9d9;
  width: 250px;
  height: 50.38px;
  border-radius: 3px;
  cursor: pointer;
}

.facebook-divs {
  width: 250px;
  height: 50.38px;
  background-color: #248ddb;
  cursor: pointer;
  border-radius: 3px;
}

.mobile_singin_option div {
  margin: 0 auto;
  width: 250px !important;
}

.facebookandgoogle {
  display: none !important;
}

.already {
  font: 16px;
}

.lines {
  width: 100px;
  height: 3px;
}

#reg-email,
#reg-email:focus,
#reg-password,
#confirm-password,
#confirm-password:focus,
#reg-password:focus,
#phone-number,
#phone-number:focus {
  border: none !important;
  outline: none !important;
}

.wrapper {
  border-bottom: 1px solid #f0d028;
  max-width: 535px;
  margin: 0 auto;
}

#radio {
  appearance: none; /* Hide default radio button */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Make radio button circular */
  border: 2px solid #f0d028; /* Add border */
  outline: none; /* Remove outline when radio button is focused */
  transition: border-color 0.2s ease-in-out; /* Add transition effect */
}

#radio:checked {
  background-color: #f0d028; /* Change border color when radio button is checked */
}

.wrapper input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #bbbbbb;
}

.register-btn {
  width: 255px;
  height: 50px;
  outline: none;
  box-shadow: none;
  background: #f0d028;
  border-radius: 83.3333px;
  border: none;
  transition: all 250ms ease;
}

.register-btn:hover {
  transform: scale(0.95);
}

.error {
  width: 535px;
  text-align: left;
  margin: 1em auto;
  color: #ff3333;
}
