@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
  .dropdown-menu {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 279px;
    height: 49px;
  }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
