@media (max-width: 991px) {
  .category-list {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
  .dropdown-menu {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .category-list {
    margin-left: -15rem;
  }

  .logo {
    width: 265px;
    height: 49px;
  }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .category-list {
    margin-left: -30rem;
  }
  .form-control {
    width: 350px;
  }

  .submit-btn {
    margin-right: 5rem !important;
  }

  .nav-item {
    margin: 0.32em;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .category-list {
    margin-left: -40rem;
  }

  .form-control {
    width: 450px;
  }

  .submit-btn {
    margin-right: 10rem !important;
  }
}

@media (min-width: 1600px) {
  .submit-btn {
    margin-right: 18rem !important;
  }
}

@media (min-width: 1700px) {
  .submit-btn {
    margin-right: 26rem !important;
  }
}

@media (min-width: 1800px) {
  .submit-btn {
    margin-right: 35rem !important;
  }
}

@media (min-width: 1900px) {
  .submit-btn {
    margin-right: 38rem !important;
  }
}
