@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /* Montserrat   */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /* Inter */
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
/*

font-family: 'Montserrat', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Libre Bodoni', serif;

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: #f0d028;
  --red-color: #f02828;
  --blue-color: #0071dc;
  --black-color: #000000;
  --white-color: #f6f6f6;
  --gray-color: #e4e4e4;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.5px;
  line-height: 20px;
  color: #000000;
}

body {
  background-color: var(--white-color);
}

p {
  max-width: 900px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #000000;
  margin: 1rem auto;
}

.row {
  max-width: 1496px;
}

.bg-color {
  background: rgba(240, 208, 40, 0.2);
  border-radius: 27.5px;
}

/* ---------------------------------------------------Navbar Style--------------------------------------------------- */

.logo {
  width: 200px;
  height: 49px;
}

.navbar {
  background-color: var(--yellow-color) !important;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.submit-btn {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--black-color);
  color: white;
  width: 61px;
  height: 38px;
  border-radius: 0 0 0 0;
  margin-right: 1rem !important;
}

.submit-btn:hover {
  background-color: var(--black-color);
  color: white;
}

.form-control {
  width: 250px;
  height: 39px;
  border-radius: 0 0 0 0;
  outline: 1px solid black !important;
}

.form-control::placeholder {
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none !important;
}

.dropdown-toggle {
  width: 124px;
  height: 32px;
  background-color: white;
  text-align: center;
}

.white-circle {
  margin-top: -13px;
  margin-left: -10px;
}

.nav-item .nav-login {
  background: transparent;
  outline: none;
  border: none;
}

.blur {
  transition: all 500ms ease-out;
  filter: blur(8px);
  z-index: 0;
}

.category-btn-dropdown {
  padding: 0 0.32em;
  position: absolute;
  color: black;
  top: 9rem;
  left: 5%;
  z-index: 10;
  background: white;
  visibility: hidden;
  transition: all 100ms ease-in-out;
}

.show-dropdown {
  visibility: visible;
  z-index: 1000;
}

.category-btn-dropdown div {
  margin: 0.5em 0;
  padding: 0.32em;
  overflow: hidden !important;
}

.category-btn-dropdown div div {
  width: 300px;
}
.category-btn-dropdown div div:hover {
  outline: 1px solid var(--yellow-color);
}
.category-btn-dropdown h2 {
  cursor: pointer !important;
}

.category-btn-dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cart-link {
  position: relative;
}

.cart-amount {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 18px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
}

/* ---------------------------------------------------Navbar Style Ends--------------------------------------------------- */

/* ---------------------------------------------------Category Style --------------------------------------------------- */
.mobile-category ul {
  padding: 0;
  overflow: scroll;
  gap: 14px;
}

.mobile-category ul li {
  list-style-type: none;
  padding: 14px 0;
}

.mobile-category ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  gap: 4px;
}

.about {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--yellow-color);
}

.category-btn {
  font-size: 11px;
  background-color: var(--black-color);
  color: white;
  padding: 0.87em 1em;
  border-radius: 0.7em;
  transition: all 0.2s ease-in;
}

.category-btn:hover {
  transform: scale(1.03);
}

.customer-service {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 5em;
  top: 3em;
}

.category-list li {
  list-style-type: none;
  margin-top: 1.2em;
  font-size: 12px;
  font-weight: 600;
}

.category-list li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
}

.category-list li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--yellow-color);
  transition: width 500ms ease-out;
}

.category-list li a:hover::before {
  width: 100%;
  left: 0;
}

.contact {
  position: relative;
}

.contact img {
  margin-right: 1em;
  margin-top: 0.5em;
}
/* ---------------------------------------------------Category Style Ends --------------------------------------------------- */

/* ---------------------------------------------------About Style--------------------------------------------------- */

.top-img img {
  width: 100px;
}

.about-us {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 60px;
  color: #000000;
}

.our-progress {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 49px;
}

.welcome {
  color: #ffd600;
  font-weight: 600;
  font-size: 16px;
}

.O {
  color: #ffd600;
}

.bottom-img img {
  width: 120px;
  margin: 1em;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------About Style--------------------------------------------------- */

/* ---------------------------------------------------Footer --------------------------------------------------- */

.footer {
  background-color: var(--gray-color);
}
.list-group {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.list-group-item {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.play-store {
  height: 33px;
  width: 100px;
  border-radius: 0px;
}
/* ---------------------------------------------------Footer Ends--------------------------------------------------- */

/* ---------------------------------------------------Login Style------------------------------------------------- */

.close-btn {
  cursor: pointer;
  width: 35px;
}

.login-form {
  max-width: 1000px;
  height: 450px;
  background-color: white;
  box-shadow: inset 0px 16.6667px 16.6667px #ffdd2c;
  border-radius: 41.6667px;
  padding: 0 2em;
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0) !important;
  visibility: hidden;
  width: 100%;
  z-index: 2;
  transition: all 800ms ease;
  visibility: hidden;
  z-index: 2;
}

.open-login-form-popup {
  transform: translate(-50%, -50%) scale(1) !important;
  visibility: visible;
  opacity: 1;
  z-index: 999999999;
}

.login {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
  color: #404040;
}

.register-here {
  color: #ff0000;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.login-email,
.login-password {
  max-width: 440px;
  border-bottom: 1.66667px solid #f0d028;
  margin: 1.5rem auto;
}

.login-email input,
.login-password input {
  border: none;
  padding: 0.8em;
}

.login-email input:focus,
.login-password input:focus {
  border: none;
  outline: none;
}

.login-email input::placeholder,
.login-password input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #bbbbbb;
}

.login-email img,
.login-password img {
  width: 25px;
}

.form-submit button {
  background: #f0d028;
  border-radius: 83.3333px;
  width: 233.33px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  outline: none;
  border: none;
  transition: all 300ms ease;
}

.form-submit input:hover {
  transform: scale(0.95);
}

/* --------------------------------------------------Login Style Ends-------------------------------------------------- */

/* --------------------------------------------------Register  Style -------------------------------------------------- */
.reistration-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  height: 830px;
  background: #ffffff;
  padding: 0 1em 0 1em;
  box-shadow: inset 0px 16.6667px 16.6667px #ffdd2c;
  border-radius: 41.6667px;
  transition: all 800ms ease;
}

.open-registration-form {
  transform: translate(-50%, -50%) scale(1);
}

.google-divs {
  background-color: #d9d9d9;
  width: 250px;
  height: 50.38px;
  border-radius: 3px;
  cursor: pointer;
}

.facebook-divs {
  width: 250px;
  height: 50.38px;
  background-color: #248ddb;
  cursor: pointer;
  border-radius: 3px;
}

.mobile_singin_option div {
  margin: 0 auto;
  width: 250px !important;
}

.facebookandgoogle {
  display: none !important;
}

.already {
  font: 16px;
}

.lines {
  width: 100px;
  height: 3px;
}

#reg-email,
#reg-email:focus,
#reg-password,
#confirm-password,
#confirm-password:focus,
#reg-password:focus,
#phone-number,
#phone-number:focus {
  border: none !important;
  outline: none !important;
}

.wrapper {
  border-bottom: 1px solid #f0d028;
  max-width: 535px;
  margin: 0 auto;
}

#radio {
  appearance: none; /* Hide default radio button */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Make radio button circular */
  border: 2px solid #f0d028; /* Add border */
  outline: none; /* Remove outline when radio button is focused */
  transition: border-color 0.2s ease-in-out; /* Add transition effect */
}

#radio:checked {
  background-color: #f0d028; /* Change border color when radio button is checked */
}

.wrapper input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #bbbbbb;
}

.register-btn {
  width: 255px;
  height: 50px;
  outline: none;
  box-shadow: none;
  background: #f0d028;
  border-radius: 83.3333px;
  border: none;
  transition: all 250ms ease;
}

.register-btn:hover {
  transform: scale(0.95);
}

.error {
  width: 535px;
  text-align: left;
  margin: 1em auto;
  color: #ff3333;
}
